
.avatar {
    width: 360px;
    height: 460px;
    position: relative;
    margin: 0 auto;
    border-radius: 10%;
}

.header {
    border-radius: 40px;
}

.card-body {
    padding: 30px;
    overflow: hidden;
}

.user-meta {
    padding-top: 0px;
}

.playername {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
}