.cardButton {
  height: 300px;
}

.toolBar {
  flex-direction: row;
  background-color: orange;
}

.imagePokemon {
  border-radius: 100%;
  background-color: white;
  align-self: center;
  justify-self: center;
  width: 360px;
  height: 360px;
}

.ion-align-self-center {
  align-self: center;
  justify-content: center;
}

.ion-label {
  margin-left: 20px;
  margin-right: 20px;
  align-self: center;
}